/*Header*/
.greet {
    text-align: center;
    color: #000;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bolder;
}
/*carousel*/
.caropics {
    z-index: -1;
}
/* End carousel*/

/*End Header*/

/*Footer*/

/*Body/General use*/
hr {
    color: black;
    border: 1px solid black;
    width: 66%;
    margin-top: 25px;
    margin-bottom: 25px;
}
body {
    background-image: url("../images/background.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;    
    background-repeat: no-repeat;
    background-size: cover;
}